@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, sthead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after, ul:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{font-family: 'Open Sans','Noto Sans KR', sans-serif; line-height: 1.4; letter-spacing: -0.04em;}
*{margin:0; padding:0;}
ul,li{list-style:none;}
a{text-decoration:none; color: inherit;}
.clr:after{content:""; display:block; clear:both;}
img { max-width: 100%; }

/* font-size 관련 */
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}

/* padding 관련 */
.pt1{padding-top:1px;}
.pb1{padding-bottom:1px;}
.pl1{padding-left:1px;}
.pr1{padding-right:1px;}
.pd1{padding:1px;}

.pt2{padding-top:2px;}
.pb2{padding-bottom:2px;}
.pl2{padding-left:2px;}
.pr2{padding-right:2px;}
.pd2{padding:2px;}

.pt3{padding-top:3px;}
.pb3{padding-bottom:3px;}
.pl3{padding-left:3px;}
.pr3{padding-right:3px;}
.pd3{padding:3px;}

.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pr5{padding-right:5px;}
.pd5{padding:5px;}

.pt8{padding-top:8px;}
.pb8{padding-bottom:8px;}
.pl8{padding-left:8px;}
.pr8{padding-right:8px;}
.pd8{padding:8px;}

.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.pd10{padding:10px;}

.pt13{padding-top:13px;}
.pb13{padding-bottom:13px;}
.pl13{padding-left:13px;}
.pr13{padding-right:13px;}
.pd13{padding:13px;}

.pt15{padding-top:15px;}
.pb15{padding-bottom:15px;}
.pl15{padding-left:15px;}
.pr15{padding-right:15px;}
.pd15{padding:15px;}

.pt17{padding-top:17px;}
.pb17{padding-bottom:17px;}
.pl17{padding-left:17px;}
.pr17{padding-right:17px;}
.pd17{padding:17px;}

.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.pd20{padding:20px;}

.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}
.pl30{padding-left:30px;}
.pr30{padding-right:30px;}

.pt40{padding-top:40px;}
.pb40{padding-bottom:40px;}
.pl40{padding-left:40px;}
.pr40{padding-right:40px;}

.pt50{padding-top:50px;}
.pb50{padding-bottom:50px;}
.pl50{padding-left:50px;}
.pr50{padding-right:50px;}

.pt60{padding-top:60px;}
.pb60{padding-bottom:60px;}
.pl60{padding-left:60px;}
.pr60{padding-right:60px;}

.pt70{padding-top:70px;}
.pb70{padding-bottom:70px;}
.pl70{padding-left:70px;}
.pr70{padding-right:70px;}

/* margin 관련 */
.mt-5{margin-top:-5px;}
.mt-20{margin-top:-20px;}

.mt1{margin-top:1px;}
.mb1{margin-bottom:1px;}
.ml1{margin-left:1px;}
.mr1{margin-right:1px;}
.mg1{margin:1px;}

.mt2{margin-top:2px;}
.mb2{margin-bottom:2px;}
.ml2{margin-left:2px;}
.mr2{margin-right:2px;}
.mg2{margin:2px;}

.mt3{margin-top:3px;}
.mb3{margin-bottom:3px;}
.ml3{margin-left:3px;}
.mr3{margin-right:3px;}
.mg3{margin:3px;}

.mt4{margin-top:4px;}
.mb4{margin-bottom:4px;}
.ml4{margin-left:4px;}
.mr4{margin-right:4px;}
.mg4{margin:4px;}

.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.mg5{margin:5px;}

.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mg10{margin:10px;}

.mt15{margin-top:15px;}
.mb15{margin-bottom:15px;}
.ml15{margin-left:15px;}
.mr15{margin-right:15px;}
.mg15{margin:15px;}

.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.mr20{margin-right:20px;}
.mg20{margin:20px;}

.mt25{margin-top:25px;}
.mb25{margin-bottom:25px;}
.ml25{margin-left:25px;}
.mr25{margin-right:25px;}
.mg25{margin:25px;}

.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.ml30{margin-left:30px;}
.mr30{margin-right:30px;}

.mt40{margin-top:40px;}
.mb40{margin-bottom:40px;}
.ml40{margin-left:40px;}
.mr40{margin-right:40px;}

.mt50{margin-top:50px;}
.mb50{margin-bottom:50px;}
.ml50{margin-left:50px;}
.mr50{margin-right:50px;}

.mt60{margin-top:60px;}
.mb60{margin-bottom:60px;}
.ml60{margin-left:60px;}
.mr60{margin-right:60px;}
.mg60{margin:0px;}

/* 사이즈 (폭) 관련 */
.w100{width:100%; }
.w99_5{width:99.5%; }
.w99{width:99%; }
.w98_5{width:98.5%; }
.w98{width:98%; }
.w97_5{width:97.5%; }
.w97{width:97%; }
.w96_8{width:96.8%; }
.w96_5{width:96.5%; }
.w96{width:96%; }
.w95_5{width:95.5%; }
.w95{width:95%; }
.w94{width:94%; }
.w93_5{width:93.5%; }
.w93{width:93%; }
.w92{width:92%; }
.w90{width:90%; }
.w88{width:88%; }
.w86{width:86%; }
.w85{width:85%; }
.w80{width:80%; }
.w79_5{width:79.5%; }
.w79{width:79%; }
.w78{width:78%; }
.w77{width:77%; }
.w76{width:76%; }
.w75_5{width:75.5%; }
.w75{width:75%; }
.w74{width:74%; }
.w73{width:73%; }
.w72{width:72%; }
.w71{width:71%; }
.w70_5{width:70.5%; }
.w70{width:70%; }
.w69{width:69%; }
.w68{width:68%; }
.w65{width:65%; }
.w64{width:64%; }
.w60{width:60%; }
.w59{width:59%; }
.w58{width:58%; }
.w56{width:56%; }
.w55{width:55%; }
.w51{width:51%; }
.w50{width:50%; }
.w49_9{width:49.9%; }
.w49_5{width:49.5%; }
.w49{width:49%; }
.w48{width:48%; }
.w47{width:47%; }
.w46{width:46%; }
.w45{width:45%; }
.w44{width:44%; }
.w40{width:40%; }
.w39{width:39%; }
.w36{width:36%; }
.w35{width:35%; }
.w34{width:34%; }
.w33{width:33%; }
.w32{width:32%; }
.w30{width:30%; }
.w29{width:29%; }
.w28{width:28%; }
.w27{width:27%; }
.w26{width:26%; }
.w25{width:25%; }
.w24{width:24%; }
.w23{width:23%; }
.w22{width:22%; }
.w20_5{width:20.5%; }
.w20{width:20%; }
.w19{width:19%; }
.w18{width:18%; }
.w15{width:15%; }
.w14{width:14%; }
.w13{width:13%; }
.w10{width:10%; }
.w5{width:5%; }
.w2{width:2%; }
.w1{width:1%; }
.w0_2{width:0.2%; }
.w700p{width:700px;}
.w600p{width:600px;}
.w500p{width:500px;}
.w400p{width:400px;}
.w300p{width:300px;}
.w250p{width:250px;}
.w240p{width:240px;}
.w210p{width:210px;}
.w200p{width:200px;}
.w190p{width:190px;}
.w150p{width:150px;}
.w140p{width:140px;}
.w130p{width:130px;}
.w120p{width:120px;}
.w110p{width:110px;}
.w100p{width:100px;}
.w95p{width:95px;}
.w90p{width:90px;}
.w85p{width:85px;}
.w80p{width:80px;}
.w75p{width:75px;}
.w70p{width:70px;}
.w65p{width:65px;}
.w60p{width:60px;}
.w55p{width:55px;}
.w50p{width:50px;}

/* 사이즈 (높이) 관련 */
.h0p{height:0px;}
.h10p{height:10px;}
.h15p{height:15px;}
.h20p{height:20px;}
.h24p{height:24px;}
.h25p{height:25px;}
.h30p{height:30px;}
.h35p{height:35px;}
.h40p{height:40px;}
.h45p{height:45px;}
.h50p{height:50px;}
.h55p{height:55px;}
.h60p{height:60px;}
.h65p{height:65px;}
.h70p{height:70px;}
.h75p{height:75px;}
.h80p{height:80px;}
.h85p{height:85px;}
.h90p{height:90px;}
.h95p{height:95px;}
.h100p{height:100px;}
.h150p{height:150px;}
.h188p{height:188px;}
.h200p{height:200px;}
.h250p{height:250px;}
.h270p{height:270px;}
.h280p{height:280px;}
.h300p{height:300px;}
.h350p{height:350px;}
.h400p{height:400px;}
.h420p{height:420px;}
.h450p{height:450px;}
.h460p{height:460px;}
.h500p{height:500px;}
.h600p{height:600px;}
.h660p{height:660px;}